{% extends 'base.html.twig' %}
{% block title %}Hello LivreController!{% endblock %}

{% block body %}
    <div class="card my-5 mx-5" style="width: 18rem;">
        <div class="card-body">
          {{form_start(form)}}
          {{form_end(form)}}
        </div>
    </div>
    {{dump(form)}}
{% endblock %}
