{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block aside %}
  <div class="card my-5 mx-5" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{emprunteur.nom}}{{emprunteur.prenom}}</h5>
      <p class="card-text">{{emprunteur.prenom}}</p>
      <a href="#" class="btn btn-primary">Ajouter au panier</a>
    </div>
  </div>
{% endblock %}
