{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block aside %}
  <div class="container-fluid d-flex flex-row justify-content-around align-items-center">
    <div class="">
      <a href="/emprunteurs">Utilisateurs</a>
    </div>
    <div class="">
      <a href="/livres">Livres</a>
    </div>
  </div>
{% endblock %}
