{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block aside %}
  <div class="container-fluid d-flex flex-row justify-content-around align-items-center my-3">
    <div class="">
      <a href="/emprunteurs" class="btn btn-success">Utilisateurs</a>
    </div>
    <div class="">
      <a href="/livres" class="btn btn-success">Livres</a>
    </div>
  </div>
{% endblock %}
